{% extends "chessclub/header.html" %}

{% block content %}

    <div class="titles margin-top margin-bottom">
        Join our <a target="_blank" href="http://mailman.mit.edu/mailman/listinfo/tech-chess-announce">mailing-list</a>
        to stay up to date.
    </div>

    <div class="titles margin-bottom">
        For sponsorship inquiries, please email our finance team at <a href="mailto:chess-fin@mit.edu">chess-fin@mit.edu</a>.
    </div>

    <div class="titles">
        For general inquiries, please email <a href="mailto:chess-exec@mit.edu">chess-exec@mit.edu</a>.
    </div>
    
{% endblock %}
